#game {
    position: relative;
    width: 600px;
    height: 600px;
    border: solid 1px gray;
    background-color: whitesmoke;
}

#game div {
    position: absolute;
}

.tree {
    width: 40px;
    height: 40px;
    background-image: url(tree.jpeg);
    background-size: 40px;
}

.bird {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-image: url(santa1.gif);
    background-size: 35px;
}

.fly {
    width: 25px;
    height: 25px;
    background-image: url(kid.gif);
    background-position-x: 0px;
    background-size: 25px;
}