article {
    line-height: 30px;
}

article h1 {
    color: pink;
}

article>h1 {
    color: palevioletred
}

img {
    width: 12em;
}

td,
th,
table {
    border: solid gray 1px;
    border-collapse: collapse;
    padding: 8px;
}

tbody tr:nth-child(odd) {
    background-color: pink;
}

th {
    background-color: lightcyan;
}